* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Start screen style */

.start-screen-container {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 8px;
  text-align: center;
  width: 800px;
  padding: 20px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.start-screen-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.start-screen-txt {
  font-size: 1.3rem;
}

.start-screen-btns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.no-message {
  font-size: 1.2rem;
  margin-top: 4px;
}

.start-screen-btn {
  padding: 8px 12px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  width: 200px;
  color: white;
}

.start-btn {
  background-color: dodgerblue;
}

.no-btn {
  background-color: crimson;
}
