* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Start screen style */

.start-screen-container {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 8px;
  text-align: center;
  width: 800px;
  padding: 20px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.start-screen-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.start-screen-txt {
  font-size: 1.3rem;
}

.start-screen-btns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.no-message {
  font-size: 1.2rem;
  margin-top: 4px;
}

.start-screen-btn {
  padding: 8px 12px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  width: 200px;
  color: white;
}

.start-btn {
  background-color: dodgerblue;
}

.no-btn {
  background-color: crimson;
}

/* Quiz style */

.question-container {
  border: 1px solid red;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 1000px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 8px;
  border: 3px solid black;
}

.question {
  font-size: 2.5rem;
  margin-bottom: 12px;
  gap: 12px;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.answer-btn {
  background-color: hsl(210, 100%, 56%);
  color: white;
  padding: 8px 12px;
  font-size: 1.2rem;
  font-weight: bold;
  width: 300px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.answer-btn:focus {
  background-color: hsl(210, 100%, 46%);
}

.answer-btn:hover {
  background-color: hsl(210, 100%, 46%);
}

.next-question-btn {
  background-color: hsl(0, 0%, 90%);
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 8px 12px;
  align-self: flex-end;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.next-question-btn:hover {
  background-color: hsl(0, 0%, 80%);
}

/* End screen styles */

.end-screen-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 3px solid black;
  border-radius: 8px;
  text-align: center;
  width: 800px;
  padding: 20px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.end-screen-title {
  font-size: 3rem;
  margin-bottom: 12px;
}

.end-screen-txt {
  font-size: 1.3rem;
}

.result {
  font-weight: bold;
  font-size: 1.5rem;
}

.play-again-txt {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.restart-btn {
  background-color: dodgerblue;
  color: white;
  padding: 8px 12px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  width: 300px;
  transition: background-color 0.3s ease;
}

.restart-btn:hover {
  background-color: hsl(210, 100%, 46%);
}

/* Restart game container */

.game-over-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border: 3px solid black;
  border-radius: 8px;
  text-align: center;
  width: 800px;
  padding: 20px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.restart-game-btn {
  background-color: dodgerblue;
  color: white;
  padding: 8px 12px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  width: 300px;
  transition: background-color 0.3s ease;
}
